<div class="table">
  <p>Product details</p>
  <table>
    <thead>
      <tr>
        <th>Product ID</th>
        <th>Product Name</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let prd of product">
        <td>{{prd.productID}}</td>
        <td>
          <div *ngIf="!onClickEdit">{{prd.productName}}</div>
          <div *ngIf="onClickEdit" class="form-group">
            <input type="text" class="form-control" value={{prd.productName}}>
          </div>
        </td>
        <td><button (click)="onEdit(prd.productID)">Edit</button></td>
        <td><button (click)="onDelete(prd.productID)">Delete</button></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
  (click)="onEdit(12355)">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <input type="text" class="form-control" value="325345">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>